.policy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.r-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.reg-signin-container p {
  margin-right: 5px;
  color: #555;
}

.reg-signin-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  margin-bottom: 10px;
  color: #336699;
}

.reg-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
}

.reg-label-container {
  display: flex;
  align-items: center;
}

.reg-label-container label {
  font-weight: bold;
  width: 100px;
}

.reg-input-container {
  display: flex;
  align-items: center;
}

input[type="email"],
input[type="password"],
input[type="text"],
select,
input[type="otp"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}



.reg-get-otp-button{
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.reg-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.reg-signup-button{
  padding: 10px 20px;
  background-color: #336699;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}



.reg-signup-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


