.split-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section {
  flex: 1;
  text-align: center;
}

.image-section img {
  max-width: 100%;
  height: auto;
}

