

.dash-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dash-left-section {
  display: flex;
  align-items: center;
}

.dash-sidebar-toggle {
  cursor: pointer;
  margin-right: 10px;
  font-size: 1.2em;
}

.dashboard-label {
  font-size: 1.2em;
  font-weight: bolder;
}

.dash-right-section {
  display: flex;
  align-items: center;
}

.dash-nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dash-nav-item {
  position: relative;
  margin-right: 20px;
  font-size: 1.2em;
}

.dash-nav-link {
  cursor: pointer;
  padding-right: 65px;
  font-size: 1.2em;
}

.dash-sub-menu {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  list-style: none;
  /* font-weight: bolder; */
  padding: 10px 10px 10px 10px;
  white-space :nowrap;
  font-size: 1.2em;
}

.dash-nav-item:hover .dash-sub-menu{
  display: block;
  font-size: 1.2em;
}

.dash-nav-item:hover .dash-nav-link {
  outline: 1px black;
  color: #007bff;
  font-size: 1.2em;
}

.dash-sub-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.dash-sub-menu li {
  margin-bottom: 5px;
  padding: 10px;
  margin-left: 5px;
  font-size: large;
}

.dash-nav-item a{
  color: black;
  text-decoration: none;
}

.dash-sub-menu a{
  color: black;
  text-decoration: none;  
}

.sidebar {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #f0f0f0;
  padding: 10px;
  width: 165px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 5px;
  padding: 10px;
  margin-left: 5px;
  font-weight: large;
}

.sidebar a {
  color: black;
  text-decoration: none;
}

.sidebar-text{
  padding: 10px;
}

@media (max-width: 768px) {
  .dash-nav-menu {
    display: none;
  }

  .dash-navbar {
    justify-content: space-between;
  }

  .dash-right-section {
    position: relative;
  }

  .dash-sidebar-toggle {
    display: block;
  }

  .sidebar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .sidebar ul {
    padding-left: 0;
  }

  .sidebar li {
    padding-left: 20px;
  }

  .sidebar-text {
    padding: 10px 20px;
  }
}