.profile-multi-step-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background: linear-gradient(to bottom right, #a2c1f0, #b8c2c2);
  }
  
  .profile-multi-step-form {
    width: 400px;
    padding: 20px;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-form-group-policy {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  .profile-input-form {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .profile-button-container-policy {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .profile-form-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-form-button:hover {
    background-color: #45a049;
  }
  
  
  .profile-policy-label{
    font-weight: bold;
    width: 200px;
    display: flex;
    align-items: center;
  }
  
  .profile-policy-input{
    display: flex;
    align-items: center;
  }