.addcontainer {
  display: flex;
  background: linear-gradient(to bottom right, #a2c1f0, #b8c2c2);
  flex-direction: column;
  align-items: center;
  justify-content : flex-start;
  height: auto;
}

h2 {
  margin-bottom: 10px;
  gap: 30px;
  color: #336699;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 10px 10px 0 0  rgba(0, 0, 0, 0.6);
  
}

form div {
  display: flex;
  align-items: center;
}

form strong {
  font-weight: bold;
  width: 100px;
}

input[type='text'],
input[type='password'] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

